@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* General Styles */
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
    
}

h6{
    font-weight: 700;
    font-size: 12px;    
}

p{
    font-size: 16px;
    color: #464649;
    margin: 15px 0 20px 0;
}

button.basic{
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: whitesmoke;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}

button.white{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.3s;
  }

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}


/* Homepage Styles */

/* header styling */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: rgba(147, 147, 147, 0.932);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.mobileNav{
    display: none;
    align-items: center;
}

.navItems li{
    list-style: none;
    padding: 0 20px;
    margin-top: 5px;
    position: relative;
   
}

.navItems li a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #1a1a1a;
}

.navItems li a:hover, .navItems li a.active{
    color: rgb(172, 98, 0);
}

.navItems li a.active::after{
    content: "";
    width: 30%;
    height: 4px;
    background: rgb(172, 98, 0);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.navBrandImage{
    height: 12rem;
    margin-top: -46px;
    margin-bottom: -45px;
    margin-left: -50px;
    width: auto;
}

.cartBox{
    position: relative;
}

.shopIcon{
    height: 2rem;
    width: auto;
    margin-top: -4px;
    margin-left: -15px;
    transition: 0.3s ease-out;
}

.mobileMenuClose{
    display: none;
}
 
/* Cover section Styling */
.cover{
    background-image: url("../img/page-backgrounds/clem-onojeghuo-CJtNSIOicD0-unsplash.jpg") ;
    background-color: rgb(1, 7, 5);
    height: 80vh;
    width: 100%;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 150px 100px;
    display: flex;
    align-items: flex-start;
    color: #AE0203;
}

.cover h4{
    padding-bottom: 10px;
}

.cover h1{
    color: rgb(172, 98, 0);
    font-weight: bolder;
}

.cover h2, h5{
    color: rgb(177, 167, 154);
    font-weight: bolder;
}

.cover h5{
    margin-bottom: 20px;
}

.cover button{
    background-image: url("../img/icons/button.png");
    background-color: #AE0203;
    color: rgb(241, 142, 13);
    border: none;
    padding: 14px 60px 14px 45px;
    border-radius: 5px;
    font-size: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cover button:hover{
    background-color: bisque;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.feature .featureBox{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 3px double rgba(177, 167, 154, 0.616);
    border-radius: 4px;
    margin: 15px 0;
}

.feature .featureBox:hover{    
    box-shadow: 5px 5px 54px rgba(132, 130, 121, 0.591);    
}

.feature .featureBox img{
   width: 100%;
}

.feature .featureBox h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: teal;  
    background-color: rgba(223, 123, 181, 0.593); 
    margin-top: 10px; 
    display: inline-block;
}

.feature .featureBox:nth-child(2) h6{
    background-color: lightgreen;
}

.feature .featureBox:nth-child(3) h6{
    background-color: lightskyblue;
}

.feature .featureBox:nth-child(4) h6{
    background-color: lightsalmon;
}

.feature .featureBox:nth-child(5) h6{
    background-color: lightsteelblue;
}

.feature .featureBox:nth-child(6) h6{
    background-color: lightpink;
}

/* Products section styles */
.products{
    text-align: center;
    padding: 0 150px;
}

.products .productsBox{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.products .product{
    position: relative;
    width: 24%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgba(177, 167, 154, 0.616);
    border-radius: 25px;
    cursor: pointer;
    box-shadow:
  3.1px 2.6px 3.6px rgba(0, 0, 0, 0.028),
  8.6px 7.3px 10px rgba(0, 0, 0, 0.04),
  20.8px 17.5px 24.1px rgba(0, 0, 0, 0.052),
  69px 58px 80px rgba(0, 0, 0, 0.08)
;

    margin: 15px 0;
    transition: 0.3s ease;
}

.products .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

.products .product img{
    width: 100%;
    height: 22rem;
    transition: all 1s;
    border-radius: 20px;
}

.products .product img:hover {
    transform: scale(1.1);
  }

.products .product .description{
    text-align: start;
    padding: 10px 0;
}

.products .product .description span{
   color: #464649;
   font-size: 12px;
}

.products .product .description h5{
    padding-top: 7px;
    color: #080d09;
    font-size: 18px;
 }

 .stars ion-icon{
    color: gold;
    font-size: 20px;
 }

 .products .product .description h4{
    padding-top: 7px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(172, 98, 0);
 }

 .products .product .proCart{
    width: 45px;
    height: 40px;
    background-color: rgb(218, 239, 232);
    line-height: 40px;
    border-radius: 50px;
    font-weight: 400;
    color: teal;
    text-align: center; 
    position: absolute;
    bottom: 18px;
    right: 18px;   
 }

 .products .product .quantity{
    width: 45px;
    height: 40px;
    font-size: 1.4rem;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    text-align: center; 
    position: absolute;
    bottom: 18px;
    right: 48px;   
 }

 .products .product .takeOut{
    width: 45px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(239, 218, 218);
    border-radius: 50px;
    font-weight: 400;
    color: rgb(128, 0, 0);
    text-align: center; 
    position: absolute;
    bottom: 18px;
    right: 88px;   
 }

 .products .product .proCart:hover{
      background-color: rgba(0, 128, 128, 0.88);
      color: white;
 }

 .products .product .takeOut:hover{
    background-color: white;
 }
 
 /* Banner styles */
 .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/page-backgrounds/banner3.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin: 30px 0;
 }

 .banner h4{
    color: white;
    font-size: 2rem;
 }

 .banner h2{
    color: white;
    font-size: 3.2rem;
    padding: 10px 0;
 }

 .banner h2 span{
    color: #f60a0a;
 }

 .banner button:hover{
    background-color: teal;
    color: whitesmoke;
 }

 .proBanner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }

 .proBanner .promoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 60px 0;
    padding: 30px;
 }

 .promo{
    background-image: url("../img/page-backgrounds/banner1.jpg");
 }

 .promo1{
    background-image: url("../img/page-backgrounds/bannerTry.jpg"); 
 }

 .proBanner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
 }

 .proBanner h2{
    color: white;
    font-size: 30px;
    font-weight: 800;
 }


 .proBanner .promoBox:hover button{
    background: teal;
    border: 1px solid teal;
 }


 .productBanners{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -100px;
 }

 .productBanners .bannerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;    
    padding: 20px;
 }

 .productBanner1{
    background-image: url("../img/page-backgrounds/alt.jpg"); 
 }
 .productBanner2{
    background-image: url("../img/page-backgrounds/banner.jpg"); 
 }
 .productBanner3{
    background-image: url("../img/page-backgrounds/banner5.jpg"); 
 }

 .productBanners h2{
    color: #fff;
    font-weight: 900;
    font-size: 2.8rem;
 }

 
 .productBanners h3{
    color: #ff3f3f;
    font-weight: 800;
    font-size: 1.8rem;
 }

 .newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
 }

 .newsletter .signUpFrom{
    display: flex;
    width: 40%;
 }

 .newsletter h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
 }

 .newsletter p {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(172, 98, 0);
 }

 .newsletter p span{
    color: rgba(128, 128, 128, 0.747);
 }

 .newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
 }

 .newsletter button{
    background-color: teal;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -2px;

    
 }

 .newsletter button:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
    
 }

 /* footer styling */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerBrandImage{
    height: 12rem;
    margin-top: -46px;
    margin-bottom: -45px;
    margin-left: -50px;
    width: auto;
}

footer .footCol{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

footer h4{
    font-size: 1.5rem;
    
}

footer p{
    font-size: 1.1rem;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(8, 8, 51, 0.708);
    margin-bottom: 10px;
}

 .footBrandImage{
    height: 3.5rem;
    width: auto;
 }

 .footerBrandImage{
    height: 12rem;
    margin-top: -46px;
    margin-bottom: -45px;
    margin-left: -50px;
    width: auto;
 }

 .installbrands{
    display: inline-block;
    
 }

.installBrandImage{
    height: 6.5rem;
    width: auto;
}

footer .socialSection{
    margin-top: 20px;
}

footer .socialSection ion-icon{
    color: #464649;
    padding-right: 4px;
    cursor: pointer;
    font-size: 28px;
}

footer .socialSection ion-icon:hover, footer a:hover{
    color: teal;
}

footer .copyright{
    width: 100%;
    text-align: center;
}


/* Shop page Styles */
.shopCover{
    height: 40vh;   
    color: #AE0203; 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    background-color: rgba(34, 34, 34, 0.453);
    background-image: url('../img/page-backgrounds/shop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backToShopBtn{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    color: rgb(189, 139, 73);
    background-color: #AE0203;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
  }

  .backToShopBtn:hover{
    color: #AE0203;
    background-color: white;
    border: 1px solid #AE0203;
  }

  .orderTitle{
    margin: 36px;
  }


.shopCoverContent{   
    background-color: #9e9e9e98; 
    padding-top: 40px; 
    padding-left: 30px;
    padding-right: 30px; 
    text-align: center; 
}

.shopCover h2{
    color: rgb(181, 29, 29);
    font-size: 3.8rem;
    font-weight: bold;
}

.shopCover h5{
    color: rgb(24, 24, 24);
    font-size: 2rem;
}

.shopDisplay{
    text-align: center;
}

.shopDisplay a{
    text-decoration: none;
    background-color: teal;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.shopDisplay a .arrowIcon{
    font-size: 20px;
    margin-bottom: -5px;
}

/* Single Products */
.productDetails{
    display: flex;
}

.productDetails .productDesc{
    width: 50%;
    padding-top: 30px;
}

.productDetails .singleProductImgs{
    width: 25%;
    margin-right: 30px;
}

.productDetails .productDesc h4{
    padding: 40px 0 20px 0;
}

.productDetails .productDesc h2{
    font-size: 26px;
}

.productDetails .productDesc select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.productDetails .productDesc input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.productDetails .productDesc input:focus{
   outline: none;
}

.productDetails .productDesc button{
    color: white;
    background-color: teal;
}

.productDetails .productDesc span{
   line-height: 35px;
}

.productDetails .singleProductImgs{
    margin-right: 50px;
    box-shadow:
  3.1px 2.6px 3.6px rgba(0, 0, 0, 0.028),
  8.6px 7.3px 10px rgba(0, 0, 0, 0.04),
  20.8px 17.5px 24.1px rgba(0, 0, 0, 0.052),
  69px 58px 80px rgba(0, 0, 0, 0.08);
}

.typesGroup{
    display: flex;
    justify-content: space-between;
}

.typesCol{
    flex-basis: 24%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.035);
    margin-top: 10px;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
}

#mainProduct{
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0px 100px 80px rgba(0, 0, 0, 0.07)
  
}

/* About us page styling */
.aboutCover{
    height: 40vh;   
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    background-color: rgba(34, 34, 34, 0.453);
    background-image: url('../img/page-backgrounds/alt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aboutCoverContent{   
    background-color: #e9d0bb98; 
    padding-top: 40px; 
    padding-left: 30px;
    padding-right: 30px; 
    text-align: center; 
}

.aboutCover h2{
    color: rgb(163, 97, 11);
    font-size: 3.8rem;
    font-weight: bold;
}

.aboutCover h5{
    color: rgb(24, 24, 24);
    font-size: 2rem;
}

/* orders page styling */
.ordersCover{
    height: 40vh;   
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    background-color: rgba(34, 34, 34, 0.453);
    background-image: url('../img/page-backgrounds/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ordersCoverContent{   
    background-color: #e9d0bb98; 
    padding-top: 40px; 
    padding-left: 30px;
    padding-right: 30px; 
    text-align: center; 
}

.ordersCover h2{
    color: teal;
    font-size: 3.8rem;
    font-weight: bold;
}

.ordersCover h5{
    color: rgb(24, 24, 24);
    font-size: 2rem;
}

/* appointment page styling */
.appointCover{
    height: 40vh;   
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    background-color: rgba(34, 34, 34, 0.453);
    background-image: url('../img/page-backgrounds/rep.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.appointCoverContent{   
    background-color: #e9d0bb98; 
    padding-top: 40px; 
    padding-left: 30px;
    padding-right: 30px; 
    text-align: center; 
}

.appointCover h2{
    color: darkblue;
    font-size: 3.8rem;
    font-weight: bold;
}

.appointCover h5{
    color: rgb(24, 24, 24);
    font-size: 2rem;
}


























/* Media queries for standar devices */
/* Tablet view */
@media (max-width: 830px){
    body{
        min-width: 100vw;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
    .section-p1{
        padding: 60px 30px;
    }

    
    .navItems{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: rgb(147, 147, 147);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 16px;
        transition: 0.3s;
    }

    .navItems.active{
        right: 0px;
    }

    .navItems.hide{
        right: -300px;
    }    

    .navBrandImage{
        margin-left: -80px;
        height: 9.6rem;
       
    }

    .mobileCart{
        position: relative;
    }

    .navItems li{
        margin-bottom: 25px;
    }

    .mobileNav{
        display: flex;
        align-items: center;
        margin-right: -45px;
    }

    .mobileNav ion-icon{
        color: black;
        margin-left: 10px;
    }

    .mobileMenuClose{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        margin-top: -12px;
    }

    .cover{
        height: 70vh;        
        background-image: none; 
        position: relative; 
        min-width: 100vw; 
        margin: auto 0;         
    }
      
      .cover:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        height: 100%;
        opacity: 0.4;
        background-image: url('../img/page-backgrounds/clem-onojeghuo-CJtNSIOicD0-unsplash.jpg');
        background-repeat: no-repeat;
        background-position: top 40% right 30%;
        background-size: cover;
      }

    .coverContent{
        margin-top: 50px;  
        position: relative; 
        padding: 0;     
    }

    .coverContent h3{
        color: #f50303;
        font-weight: bold;
    }

    .coverContent h2{
        font-size: 2.1rem;
        color: rgb(228, 221, 212);
    }
    .coverContent h5{
        color: rgb(228, 221, 212);
        font-size: 1.2rem;
    }
    .cover button{
        padding: 10px 50px 10px 35px;        
    }

    .feature{
        justify-content: center;
    }
 
    .feature .featureBox{
        margin: 15px 15px;         
    }

    .products .productsBox {
        justify-content: center;       
    }

    .products .product {
        margin: 20px;
    }

    .products .product img {
        height: 18rem;        
    }

    .products .product .description h5 {
        margin: 5px;
        color: rgb(75, 73, 73);
        line-height: 25px;
    }

    .products .product .description span {
        background-color: grey;
        padding: 8px 8px;
        font-weight: bold;
        color: white;
        font-size: 18px;
        margin: 0px 5px;
    }

    .banner {
        height: 22vh;        
    }

    .banner h4{
        font-size: 1.5rem;
     }
    
     .banner h2{
        font-size: 2.6rem;        
     }

    footer{
        padding: 0;
    }

    .proBanner .promoBox {
        min-width: 100%;
        height: 30vh;
        margin-top: -20px;
        margin-left: 0;
        margin-right: 0;
    }

    .productBanners {
        padding: 0 30px;
    }

    .productBanners .bannerBox {
    width: 28%;    
    }

    .newsletter .signUpFrom {
        width: 70%;
    }

    footer .footCol {
      margin-bottom: 20px;
    }

   .installBrandImage{
    height: 5.5rem;
    margin: -20px;
}

footer .socialSection ion-icon{
    color: #202020;
    display: inline-block;
       
    font-size: 24px;
}

}


@media (max-device-width: 480px){
   .header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: -20px;
   }

   .navBrandImage {
    margin-left: -80px;
}

.mobileCart{
    position: relative;
}

   h2{
    font-size: 32px;
    line-height: 55px;
   }

   h1{
    font-size: 30px;
    line-height: 55px;
   }

   .cover{
    padding: 0 20px;
    background-position: 55%;
   }

   .cover h4{
    padding-bottom: 0px;
}

.feature{
    justify-content: space-between;
}

.feature .featureBox{
    margin: 0 0 15px 0;  
    width: 155px;       
  }

  .products .product {
    width: 100%;
  } 

  .banner {
    height: 40vh;        
   }

   .banner h4{
    font-size: 1.4rem;
    background-color: #1a1a1a;
    padding: 8px 12px;
 }

 .banner h2{
    font-size: 2rem;        
   }

   .proBanner .promoBox {
    height: 40vh;    
}  
   
  .productBanners{
    padding: 0 20px;
  }

  .productBanners .bannerBox {
    width: 100%;
}

.newsletter{
    padding: 40px 20px;
}

  .newsletter .signUpFrom{
    width: 100%;
  }

  /*  */
  .shopCover h2,
  .appointCover h2,
  .aboutCover h2,
  .ordersCover h2{
    margin-bottom: -10px;
    font-size: 1.5rem;
    
}

.shopCover h5,
  .appointCover h5,
  .aboutCover h5,
  .ordersCover h5{
    color: rgb(24, 24, 24);
    font-size: 0.8rem;
}

.shopCoverContent,
  .appointCoverContent,
  .aboutCoverContent,
  .ordersCoverContent{   
    padding: 10px;     
}

.productDetails{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.productDetails .singleProductImgs{
   width: 100%;
   margin-right: 0px;
   
}

#mainProduct{
    height: 400px;
}

.productDetails .productDesc{
    width: 100%;
}

}
